body {
  text-align: center;
}

#buttonLogin {
  padding-top: 9px;
  padding-bottom: 9px;
}
#buttonCancelLogin {
  padding-top: 9px;
  padding-bottom: 9px;
}

.container {
  margin-top: 30px;
}

.text-center {
  padding: 5px;
}

.labels {
  color: gray;
  border-radius: 5px;
}

.form-control {
  background: whitesmoke;
}

#buttonLoginRedir {
  margin: 5px;
}

.btn {
  margin: 2px;
}