button {
  border-radius: 12px;
  background-color: #2a2a2a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:focus {outline:0;}

body {
  text-align: center;
}

#buttonLogin {
  padding-top: 9px;
  padding-bottom: 9px;
}
#buttonCancelLogin {
  padding-top: 9px;
  padding-bottom: 9px;
}
